<html>
<head>
  <link href="https://fonts.googleapis.com/css?family=Abel" rel="stylesheet">
  <style>
    body {
      font-family: 'Abel', sans-serif;
    }
    .round-corners-10px{
      -webkit-border-radius: 10px;
      -moz-border-radius: 10px;
      border-radius: 10px;
    }
    .box {
      background: rgba(0, 0, 0, 0.8);
      bottom: 0;
      height: 50%;
      left: 0;
      margin: auto;
      position: absolute;
      top: 0;
      right: 0;
      width: 60%;
      color: white;
    }
    .inner {
      margin: 12px;
    }
    img {
      width: 100%;
    }
  </style>
  <script defer src="https://use.fontawesome.com/releases/v5.0.8/js/solid.js" integrity="sha384-+Ga2s7YBbhOD6nie0DzrZpJes+b2K1xkpKxTFFcx59QmVPaSA8c7pycsNaFwUK6l" crossorigin="anonymous"></script>
  <script defer src="https://use.fontawesome.com/releases/v5.0.8/js/fontawesome.js" integrity="sha384-7ox8Q2yzO/uWircfojVuCQOZl+ZZBg2D2J5nkpLqzH1HY0C1dHlTKIbpRz/LG23c" crossorigin="anonymous"></script>
</head>
<body>
<div class="box round-corners-10px">
  <div class="inner">
    <% if(data.banner) { %>
      <img src="data:image/jpg;base64, <%= data.banner %>"/>
    <% } %>
    <h1><%= data.track.name %></h1>
    <h3><%= data.track.city %> (<%= data.track.country %>)</h3>
    <h4><i class="fas fa-car"></i> Length</h4>
    <p><%= data.track.length %></p>
    <h4><i class="fas fa-sun"></i> Weather</h4>
    <ul>
      <li>Air temp: <%= data.track.weather.temperature.air %></li>
      <li>Track temp: <%= data.track.weather.temperature.track %></li>
      <li>Wind speed: <%= data.track.weather.wind.speed %></li>
      <li>Wind direction: <%= data.track.weather.wind.direction %></li>
    </ul>
  </div>
</div>
</body>
</html>