<html>
<head>
  <style>
    .box {
      background: rgba(0, 0, 0, 0.5);
      bottom: 0;
      height: 50%;
      left: 0;
      margin: auto;
      position: absolute;
      top: 0;
      right: 0;
      width: 60%;
      color: white;
    }
    .inner {
      margin: 12px;
    }
  </style>
</head>
<body>
  <div class="box">
    <div class="inner">
      <h1><%= track.name %></h1>
      <h2><%= track.city %> (<%= track.country %>)</h2>
      <br/>
      <h4>Length</h4>
      <p><%= track.length %></p>
      <h4>Weather</h4>
      <ul>
        <li>Air temp: <%= track.weather.temperature.air %></li>
        <li>Track temp: <%= track.weather.temperature.track %></li>
        <li>Wind speed: <%= track.weather.wind.speed %></li>
        <li>Wind direction: <%= track.weather.wind.direction %></li>
      </ul>
    </div>
  </div>
</body>
</html>