<html>
<head>
  <link href="https://fonts.googleapis.com/css?family=Abel" rel="stylesheet">
  <style>
    body {
      font-family: 'Abel', sans-serif;
    }
    .number{
      background-color: white;
      color: black;
      border-radius: 5px;
      -moz-border-radius: 5px;
      padding: 5px;
      width: 18px;
      text-align: center;
    }

    .round-corners-10px{
      -webkit-border-radius: 10px;
      -moz-border-radius: 10px;
      border-radius: 10px;
    }
    .unround-left-corners{
      -webkit-border-top-left-radius: 0px;
      -webkit-border-bottom-left-radius: 0px;
      -moz-border-radius-topleft: 0px;
      -moz-border-radius-bottomleft: 0px;
      border-top-left-radius: 0px;
      border-bottom-left-radius: 0px;
    }

    .box {
      background: rgba(0, 0, 0, 0.8);
      left: 24px;
      position: absolute;
      top: 84px;
      color: white;
    }
    .inner {
      margin: 12px;
    }
    table {
      margin-top: 8px;
      border-spacing: 10px;
      border-collapse: separate;
    }
    tr {
      font-size: 18px;
      text-transform: uppercase;
      color: white;
    }

    .fastestlap {
      background: mediumpurple;
    }
    .current {
      background: gainsboro;
      color: black;
    }
    .padded {
      padding-left: 3px;
    }
    .clear {
      background: rgba(0,0,0,0) !important;
    }
    .yellowflag {
      background: yellow;
    }
  </style>
  <script defer src="https://use.fontawesome.com/releases/v5.0.8/js/solid.js" integrity="sha384-+Ga2s7YBbhOD6nie0DzrZpJes+b2K1xkpKxTFFcx59QmVPaSA8c7pycsNaFwUK6l" crossorigin="anonymous"></script>
  <script defer src="https://use.fontawesome.com/releases/v5.0.8/js/fontawesome.js" integrity="sha384-7ox8Q2yzO/uWircfojVuCQOZl+ZZBg2D2J5nkpLqzH1HY0C1dHlTKIbpRz/LG23c" crossorigin="anonymous"></script>
</head>
<body>
<div class="box round-corners-10px unround-left-corners">
  <div class="inner">
    <% if (standings.lap) { %>
    <h2><%= standings.lap %> style="<% if (standings.flags.yellow) { %>yellowflag<% } %>"</h2>
    <% } %>
    <table>
      <% Object.keys(standings.order).forEach(function(k) { %>
      <% var item = standings.order[k]; %>
      <tr class="<% if (item.isFastestLap) { %>fastestlap <% } %> <% if (item.isOnCamera) { %>current <% } %>">
        <td class="number"><%= (parseInt(k)+1) %></td>
        <td style="background: <%= item.driver.color %>; border: 1px solid white;">&nbsp;</td>
        <td class="padded">
          <%= item.driver.surname %>
          <% if(item.isOnCamera) { %> <i class="fas fa-car"></i> <% } %>
        </td>
        <td <% if (item.fastestLap === 0) { %>style="display: none;"<% } %>>
          <% if (item.fastestLap !== 0) { %> <%= item.fastestLap %> <% } %>
        </td>
        <td <% if (item.pit === 0) { %>style="display: none;"<% } %>>
          (<%= item.pit %>)
        </td>
      </tr>
      <% }); %>
    </table>

  </div>
</div>
</body>
</html>