<html>
<head>
  <style>
    .center {
      text-align: center;
    }
    .box {
      background: rgba(0, 0, 0, 0.7);
      bottom: 0;
      left: 0;
      margin: auto;
      position: absolute;
      top: 0;
      right: 0;
      width: 60%;
      color: white;
      height: 85%;
    }
    .inner {
      margin: 12px;
    }
    li {
      display: inline-block;
    }
    table {
      width: 100%;
      margin-top: 28px;
      border-spacing: 10px;
      border-collapse: separate;
    }
    tr {
      font-size: 18px;
      text-transform: uppercase;
      color: white;
    }
    .number{
      background-color: white;
      color: black;
      border-radius: 5px;
      -moz-border-radius: 5px;
      padding: 5px;
      width: 18px;
      text-align: center;
    }

    .round-corners-10px{
      -webkit-border-radius: 10px;
      -moz-border-radius: 10px;
      border-radius: 10px;
    }

  </style>
</head>
<body>
<div class="box round-corners-10px">
  <div class="inner">
    <h1 class="center">Qualify Standings <%= track.name %></h1>
    <hr/>
    <table>
      <% Object.keys(standings).forEach(function(k) { %>
      <% var item = standings[k]; %>
      <tr>
        <td class="number"><%= (parseInt(k)+1) %></td>
        <td style="background: <%= item.driver.color %>; border: 1px solid white;">&nbsp;</td>
        <td><%= item.driver.fullname %></td>
        <td><%= item.time %></td>
        <td><%= item.gap %></td>
      </tr>
      <% }); %>
    </table>
  </div>
</div>
</body>
</html>